# LangChain Core
langchain
langchain-core
langchain-community

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai


# Environment Variable Management
python-dotenv


streamlit

langchain-google-genai
faiss-cpu
python-dotenv
pydantic
jq


