
# LangChain Core
langchain==0.1.17
langchain-core==0.1.42
langchain-community

# Google Gemini (PaLM) Integration
langchain-google-genai==0.0.12
google-generativeai


# Environment Variable Management
python-dotenv


streamlit

langchain-google-genai
faiss-cpu
python-dotenv
pydantic==1.10.14
jq


